link-workspace-packages=false
prefer-workspace-packages=false
strict-peer-dependencies=false
@AccidentallyDefi:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
